# Core DS stack
pandas>=2.2
numpy>=1.26
scikit-learn>=1.5
pyarrow>=16
matplotlib>=3.9
tqdm>=4.66
requests>=2.32
python-dotenv>=1.0

# Gradient boosting model
lightgbm>=4.0

# Model explainability
shap>=0.46.0

# Notebook workflow
jupyter>=1.0
nbconvert>=7.16

# Packaging / build tools
pip>=24.0
setuptools>=68.0
wheel>=0.41.0
packaging>=24.0

# App
streamlit>=1.34
